html, body {
    margin: 0;
    background: #f0dae3;
    background: linear-gradient(171deg, rgba(240, 218, 227, 1) 0%, rgba(202, 190, 237, 1) 30%, rgba(201, 148, 235, 1) 70%, rgba(147, 69, 230, 1) 100%);
    height: 100%;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.025);
    width: 400px;
    height: 400px;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 2px 8px 30px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#Dih, #Dih img {
    pointer-events: none;
    cursor: default;
}